:root{
    --black: #17202A;
    --white: #FBFCFC;
}

form{
    width: 12.5em;
    margin: 2em auto;
}

input{
    width: 95%;
    padding: 1em;
}

.poke-card{
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 18.75em;
    border-radius: 4px;
    color: var(--black);
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    background-color: var(--white);
    border: 1px solid var(--black);
}

.poke-card::before{
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container{
    position: relative;
    width: 11.25em;
    margin: 10px auto;
}

.poke-stats div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 0.5em;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed var(--black);
}

.poke-img{
    width: 11.25em;
    border-radius: 50%;
}